
#header {
  display: flex;
  justify-content: space-between;
  background-color: #660080;
  width: 100%;
  height: 100px;

}

#header img {
  width: 80px;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  background: #660080;
  box-sizing: border-box;
  margin: 1px #660080 solid;
  padding: 0;
}

#h1{
  display: flex;
  justify-content: center;
  align-content: center;
}

.lista{

  justify-content: center;
}
