@media (max-width:768px) {
    .microfono{
        display: none;
    }
    .guitarra{
        display: none;
    }
    .rocola1{
        display: none;
    }

    #header{
        padding: 4px;
    }
    
    .spotify{
        display: none;
    }
    
    #header img{
        display: none;
    }


    #navBar {

        width: 100vw;
        justify-content: center;
        display:flexbox;
        padding: 0px;
        margin: 20px;
    }
    
    .cafe{
        margin: 0px;
    }
    
    .h1 {
        display: flex;
        margin-left: 300px;
        color: white;
    }

    .h3{
        display: flex;
        margin-left: 350px;
        color: white;
    }
    br{
        display: block;
    }
    .box1{
        display: flex;
        padding: 0px;
        width: 100%;
    }
    .titulo2, .tituloBandas, .tituloMusica{
        display: none;
    }

    .sectionGrids {
        display: flex;
        flex-direction: column;
    } 

    .parrafo, .parrafo2, .parrafoGrid{
        font-size: 30px;
        margin-left: 100px;

    }
    
    .parrafoGrid{
        box-sizing: border-box;
        margin: 0px;
        border: 16px;
        padding: 0px;
    overflow:auto;
margin-left: 100px;  }

    .sectionGrids2{
        display: flex;
        flex-direction: column;
        margin-left: 220px;
    }

    .tituloSpotify{
        display: none;
    }

    .box2 {
        width: 100vw;
        height: auto;
        padding: 30px;
        border: 0px #660080 solid;
        margin: 0px #660080 solid;
        background-color: #660080;
        margin-bottom: 0px;
        margin-top: 0px;
        }
        

        .p2 {
            background-color: #660080;
            color: white;
            font-family: "Metal Mania", serif;
            font-size: 30px;
            display: flex;
            justify-content: flex-start ;
            margin-left: 15px
            }
            .borrar{
                display: none;
            }
        
        .sectionGridsCafe, .sectionGridsBar{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
        }
        
        
        .negroni, .fernet, .daiquiri, .gintonic, .margarita, .whiscola, .waffles, .medialunas, .tostaditos, .croissant, .torta, .limonada{
            margin-left: 260px;
            padding: 0;
            margin-bottom: 0;
            margin-top: 0;
            gap: 0px
            ;
        } 
        .sectionGridsMuseo{
            display: flex;
            flex-direction: column;

        }
        
        .captionMuseo{
            display: block;
        }

        #footer{
            position: absolute;
            bottom: 0;
            width: 100%;
        }

        .museo1 {
            height: 200px;
            width: 250px;
            grid-row: 1;
            grid-column: 1;
            box-sizing: border-box;
            border: 4px #660080 solid;
            }
            
            .museo2 {
            height: 200px;
            width: 250px;
            grid-row: 1;
            grid-column: 2;
            box-sizing: border-box;
            border: 4px #660080 solid;
            }
            
            .museo3 {
            height: 200px;
            width: 250px;
            grid-row: 1;
            grid-column: 3;
            box-sizing: border-box;
            border: 4px #660080 solid;
            }
            
            .museo4 {
            height: 200px;
            width: 250px;
            grid-row: 2;
            grid-column: 1;
            box-sizing: border-box;
            border: 4px #660080 solid;
            }
            
            .museo5 {
            height: 200px;
            width: 250px;
            grid-row: 2;
            grid-column: 3;
            box-sizing: border-box;
            border: 4px #660080 solid;
            }
            
            .museo6 {
            height: 200px;
            width: 250px;
            grid-row: 2;
            grid-column: 2;
            box-sizing: border-box;
            border: 4px #660080 solid;
            }
            
            .museo1, .museo2, .museo3, .museo4, .museo5, .museo6{
                margin-left: 275px;
            }

                #navBar  .index{
                display: block;
            }
        }


        
        