/* ESTILOS MUSEO*/
.boxMuseo {
    width: 100%;
    height: auto;
    padding: 30px;
    border: 25px #660080 solid;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    margin: 40px #660080 solid;
    background-color: #660080;
    margin-bottom: 30px;
    height: auto;
  }
  
  .pMuseo {
    background-color: #660080;
    color: white;
    font-family: "Metal Mania", serif;
    font-size: 30px;
    text-align: center;
  }
  
  .bodyMuseo {
    background: black;
  }
  
  .sectionGridsMuseo {
    display: grid;
    grid-area: "" img img img "" "" img img img "" "" img img img "";
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 75px 75px;
    column-gap: 90px;
    row-gap: 140px;
    justify-content: center;
    margin-bottom: 40px;
  }

  .captionMuseo{
    display: none;
  }


  
  
  .museo1 {
    height: 200px;
    width: 250px;
    grid-row: 1;
    grid-column: 1;
    box-sizing: border-box;
    border: 4px #660080 solid;
    overflow: hidden;
    transition: .4s ease;
    cursor: pointer;
  }
  
  .museo2 {
    height: 200px;
    width: 250px;
    grid-row: 1;
    grid-column: 2;
    box-sizing: border-box;
    border: 4px #660080 solid;
    overflow: hidden;
    transition: .4s ease;
    cursor: pointer;

  }
  
  .museo3 {
    height: 200px;
    width: 250px;
    grid-row: 1;
    grid-column: 3;
    box-sizing: border-box;
    border: 4px #660080 solid;
    overflow: hidden;
    transition: .4s ease;
    cursor: pointer;

  }
  
  .museo4 {
    height: 200px;
    width: 250px;
    grid-row: 2;
    grid-column: 1;
    box-sizing: border-box;
    border: 4px #660080 solid;
    overflow: hidden;
    transition: .4s ease;
    cursor: pointer;

  }
  
  .museo5 {
    height: 200px;
    width: 250px;
    grid-row: 2;
    grid-column: 3;
    box-sizing: border-box;
    border: 4px #660080 solid;
    overflow: hidden;
    transition: .4s ease;
    cursor: pointer;

  }
  
  .museo6 {
    height: 200px;
    width: 250px;
    grid-row: 2;
    grid-column: 2;
    box-sizing: border-box;
    border: 4px #660080 solid;
    overflow: hidden;
    transition: .4s ease;
    cursor: pointer;

  }
  
  .museo1:hover {
    transform: scale(1.5 );
  }
  .museo2:hover {
    transform: scale(1.5 );
  }
  .museo3:hover {
    transform: scale(1.5 );
  }
  .museo4:hover {
    transform: scale(1.5 );
  }
  .museo5:hover {
    transform: scale(1.5 );
  }
  .museo6:hover {
    transform: scale(1.5 );
  }